section.search 
  h2.search-title Результаты поиска
  ul.search-list
    each product in products
      li.search-item
        if product.sale
          div.search-item-promotion Акция
        img.search-item-img(src=product.img alt=product.name)
        p.search-item-title= product.name
        if product.sale
          .search-sale.sale
            p.sale-price-new(class='price-new') #{product.price - 1000} ₽
            p.sale-price-old(class='price-old') #{product.price} ₽
        else
          p.search-sale.sale.sale-price(class='price') #{product.price} ₽